.table thead td
{
  font-weight: bold;
  border-bottom: 1px solid Silver;
}

.table tbody td
{
  font-size: 12pt;
  padding: 10px;
  border: 1px solid #eeeeee;
}

.table tfoot td
{
  font-size: 8pt;
  text-align: center;
  border-top: 1px solid rgb(96,125,139);
}

.table button
{
  border-top: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #dedede;
  background-color: White;
  color: rgb(96,125,139);
  padding: 5px;
}
