#content
{	
	flex-direction: column;
	width: 100%;
}

#View
{
	position: relative;
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	overflow: auto;
	flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
}
