#periodPanel
{
  text-align: center;
}

#period
{
  margin: 15px;
  display: inline-block;
}

#period .date,
#period .separator
{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#period .separator
{
  padding-left: 5px;
  padding-right: 5px;
}
